{% extends 'base.html.twig' %}
{% block content %}

    <!-- Custom Hero Area -->
    <section class="custom-hero-area dark-overlay" data-parallax="scroll" data-speed="0.6" data-image-src="images/banner/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-hero">
                        <h2>What we do</h2>
                        <ul class="breadcrumbs">
                            <li><a href="">Home</a></li>
                            <li>&mdash;</li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Custom Hero Area -->

    <!-- Services Element -->
    <section class="services-elements section-padding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/1.jpg" alt="" />
                            <i class="ti-exchange-vertical"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Safe Transaction</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/2.jpg" alt="" />
                            <i class="ti-tag"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Connecting Investment</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/3.jpg" alt="" />
                            <i class="ti-settings"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Mining Currency</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/3.jpg" alt="" />
                            <i class="ti-exchange-vertical"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Safe Transaction</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/2.jpg" alt="" />
                            <i class="ti-tag"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Connecting Investment</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service-elements">
                        <div class="single-serv-element">
                            <img src="images/services/1.jpg" alt="" />
                            <i class="ti-settings"></i>
                        </div>
                        <div class="single-service-content">
                            <a href=""><h2>Mining Currency</h2></a>
                            <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="btn-default btn-big btn-fill">Explor more</a>
            </div>
        </div>
    </section><!-- /Services Element -->

{% endblock %}