{% extends '@Produit/layouts/nav.html.twig' %}

{% block wraptt %}

    <div class="wrap-tt">
        <a href="/home">Home <i class="fa fa-angle-right"></i> </a>
        <a href="/product">Product <i class="fa fa-angle-right"></i></a>
        <a href="/categorie">categorie <i class="fa fa-angle-right"></i></a>
        prod

    </div>

{% endblock %}

{% block cardservice %}

<!--<div class="card-service">
                       <div class="card-body row">
                           <div class="col-md-3">
                               <img src="assets/img/service/support.png" alt="">
                           </div>
                           <div class="col-md-9">
                               <h2>24X7 SUPPORT</h2>
                               <p>Online Support 24/7</p>
                           </div>
                       </div>
                       <div class="card-body row">
                           <div class="col-md-3">
                               <img src="assets/img/service/safe.png" alt="">
                           </div>
                           <div class="col-md-9">
                               <h2>SAFE SHOPPING</h2>
                               <p>Safe Shopping Guarantee</p>
                           </div>
                       </div>
                       <div class="card-body row">
                           <div class="col-md-3">
                               <img src="assets/img/service/gift.png" alt="">
                           </div>
                           <div class="col-md-9">
                               <h2>SPECIAL GIFT</h2>
                               <p>Give The Perfect Gift</p>
                           </div>
                       </div>
                       <div class="card-body row">
                           <div class="col-md-3">
                               <img src="assets/img/service/shipping.png" alt="">
                           </div>
                           <div class="col-md-9">
                               <h2>FREE SHIPPING</h2>
                               <p>Safe Shopping Guarantee</p>
                           </div>
                       </div>
                   </div>-->

{% endblock %}

{% block sectionpp %}

    <div class="product-view">
        <div class="row">
           <div class="col-md-6">
               <div id="Carousel" class="carousel slide productSlide" data-ride="carousel">
                   <div class="carousel-inner">
                       <div class="item active">
                           <img src="../assets/img/product/img44.jpg" style="width:100%;">
                       </div>

                       <div class="item">
                           <img src="../assets/img/product/img4.jpg" style="width:100%;">
                       </div>

                       <div class="item">
                           <img src="../assets/img/product/img4.jpg" style="width:100%;">
                       </div>
                   </div>
                   <ol class="carousel-indicators">
                       <li data-target="#Carousel" data-slide-to="0" class="active">
                           <img src="../assets/img/product/img44.jpg">
                       </li>
                       <li data-target="#Carousel" data-slide-to="1">
                           <img src="../assets/img/product/img44.jpg">
                       </li>
                       <li data-target="#Carousel" data-slide-to="2">
                           <img src="../assets/img/product/img44.jpg">
                       </li>
                   </ol>

               </div>
           </div>
           <div class="col-md-6">
               <div class="contentprod">
                   <h1 class="title-prod">32 Shiloh Jacket</h1>
                   <p class="starprod">
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                   </p>
                   <p class="priceprod">
                       250,00 TND
                   </p>
                   <p class="descprod">
                       Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                       Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas. Duis feugiat tincidunt lobortis.
                       Fusce hendrerit lectus viverra quam euismod ullamcorper.
                   </p>
                   <p class="taillprod">
                       Taille
                       <select>
                           <option>S</option>
                           <option>M</option>
                           <option>L</option>
                           <option>XL</option>
                       </select>
                   </p>
                   <p class="colorprod">
                       Couleur
                       <input type="checkbox" name="colprod" style="background: #000">
                       <input type="checkbox" name="colprod">
                   </p>
                   <p class="qteprod">
                      Qté <input type="number" value="1" min="1">
                       <button type="submit">Livraison</button>
                   </p>
                   <button type="submit" class="btnWish">
                       <i class="fa fa-heart-o"></i>
                       Wishlist
                   </button>
                   <div class="sharerprod">
                       <a href=""><i class="fa fa-facebook"></i></a>
                       <a href=""><i class="fa fa-twitter"></i></a>
                       <a href=""><i class="fa fa-google-plus"></i></a>
                       <a href=""><i class="fa fa-pinterest"></i></a>
                   </div>
               </div>
           </div>
       </div>
    </div>

    <div class="service-security">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-3">
                  <img src="../assets/img/service/protected.png">
                </div>
                <div class="col-md-8">
                    <p class="serv-name">Security policy</p>
                    <p class="serv-detail">
                        All your personal data is protected.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                   <img src="../assets/img/service/free.png">
                </div>
                <div class="col-md-8">
                    <p class="serv-name">Delivery policy</p>
                    <p class="serv-detail">
                        Free Delivery if you're ordering eligible items.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                  <img src="../assets/img/service/return.png">
                </div>
                <div class="col-md-8">
                    <p class="serv-name">Return policy</p>
                    <p class="serv-detail">Not satisfied with your order? Return it in-store</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-prod">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#descprod">Description</a></li>
            <li><a data-toggle="tab" href="#revue">La revue</a></li>
        </ul>
        <div class="tab-content">
            <div id="descprod" class="tab-pane fade in active">
            <p>Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                Duis feugiat tincidunt lobortis. Fusce hendrerit lectus viverra quam euismod ullamcorper.</p>
            </div>
            <div id="revue" class="tab-pane fade">
               <button class="btnrevue" >Write A Review</button>
                <p class="nocomment" style="display: none">No customer reviews for the moment.</p>
                <div class="row revue-content">
                    <div class="col-md-2 img-user-revue">
                        <img src="../assets/img/team/3.jpg">
                    </div>
                    <div class="col-md-10 info-revue">
                        <h2 class="name-user-revue">
                            Yassine lahbib
                        </h2>
                        <p class="date-revue">
                            25/06/2018
                        </p>
                        <p class="starprod">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                        <p class="comment-revue">
                            Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                            Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                        </p>
                    </div>
                </div>
                <span class="hr-revue"></span>
                <div class="row revue-content">
                    <div class="col-md-2 img-user-revue">
                        <img src="../assets/img/team/3.jpg">
                    </div>
                    <div class="col-md-10 info-revue">
                        <h2 class="name-user-revue">
                            Yassine lahbib
                        </h2>
                        <p class="date-revue">
                            25/06/2018
                        </p>
                        <p class="starprod">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                        <p class="comment-revue">
                            Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                            Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                        </p>
                    </div>
                </div>
                <span class="hr-revue"></span>
                <div class="row revue-content">
                    <div class="col-md-2 img-user-revue">
                        <img src="../assets/img/team/3.jpg">
                    </div>
                    <div class="col-md-10 info-revue">
                        <h2 class="name-user-revue">
                            Yassine lahbib
                        </h2>
                        <p class="date-revue">
                            25/06/2018
                        </p>
                        <p class="starprod">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                        <p class="comment-revue">
                            Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                            Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                        </p>
                    </div>
                </div>
                <span class="hr-revue"></span>

            </div>
        </div>
    </div>

    <div class="section-prod">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#connexe" style="color: #333;border:0px ">PRODUIT CONNEXE</a></li>
        </ul>
        <div class="tab-content">
            <div id="connexe" class="tab-pane fade in active">
                <div class="carousel slide" id="prodCarousel1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="card card-prod col-md-4">
                                <div class="card-img">
                                    <img src="../assets/img/product/img4.jpg" class="firstimg">
                                    <img src="../assets/img/product/img44.jpg" class="secondimg">
                                </div>
                                <div class="card-body">
                                    <p class="starprod">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                    <a href="#" class="ttprod">Patagonia Down Sweater</a>
                                    <p class="priceprod">260,00 DNT</p>
                                    <div class="btngroup">
                                        <div class="btn-panier">
                                            <img src="../assets/img/icons/cart.png" class="firstimg">
                                            <img src="../assets/img/icons/cartwhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-view">
                                            <img src="../assets/img/icons/eye.png" class="firstimg">
                                            <img src="../assets/img/icons/eyewhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-hear">
                                            <img src="../assets/img/icons/heart.png" class="firstimg">
                                            <img src="../assets/img/icons/heartwhite.png" class="secondimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-prod col-md-4">
                                <div class="card-img">
                                    <img src="../assets/img/product/img4.jpg" class="firstimg">
                                    <img src="../assets/img/product/img44.jpg" class="secondimg">
                                </div>
                                <div class="card-body">
                                    <p class="starprod">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                    <a href="#" class="ttprod">Patagonia Down Sweater</a>
                                    <p class="priceprod">260,00 DNT</p>
                                    <div class="btngroup">
                                        <div class="btn-panier">
                                            <img src="../assets/img/icons/cart.png" class="firstimg">
                                            <img src="../assets/img/icons/cartwhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-view">
                                            <img src="../assets/img/icons/eye.png" class="firstimg">
                                            <img src="../assets/img/icons/eyewhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-hear">
                                            <img src="../assets/img/icons/heart.png" class="firstimg">
                                            <img src="../assets/img/icons/heartwhite.png" class="secondimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-prod col-md-4">
                                <div class="card-img">
                                    <img src="../assets/img/product/img3.jpg" class="firstimg">
                                    <img src="../assets/img/product/img33.jpg" class="secondimg">
                                </div>
                                <div class="card-body">
                                    <p class="starprod">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                    <a href="#" class="ttprod">Patagonia Down Sweater</a>
                                    <p class="priceprod">260,00 DNT</p>
                                    <div class="btngroup">
                                        <div class="btn-panier">
                                            <img src="../assets/img/icons/cart.png" class="firstimg">
                                            <img src="../assets/img/icons/cartwhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-view">
                                            <img src="../assets/img/icons/eye.png" class="firstimg">
                                            <img src="../assets/img/icons/eyewhite.png" class="secondimg">
                                        </div>
                                        <div class="btn-hear">
                                            <img src="../assets/img/icons/heart.png" class="firstimg">
                                            <img src="../assets/img/icons/heartwhite.png" class="secondimg">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            fvd
                        </div>

                        <div class="item">
                            erfe
                        </div>
                    </div>


                    <nav>
                        <ul class="control-box pager">
                            <li><a data-slide="prev" href="#prodCarousel1" class=""><i class="fa fa-angle-left"></i></a></li>
                            <li><a data-slide="next" href="#prodCarousel1" class=""><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <!-- /.control-box -->

                </div>
            </div>
        </div>
    </div>

    <div class="modal-revue">

        <div class="modal-content">
          <span class="modal-close btnClose">
              <i class="fa fa-close"></i>
          </span>
          <h1 class="modal-title">WRITE A REVIEW</h1>
           <div class="row">
               <div class="col-md-6">
                 <img src="../assets/img/product/img44.jpg">
                 <h2 class="title-prod">32 Shiloh Jacket</h2>
                 <p class="descprod">
                     Sed ac enim eu massa lacinia semper. Nam egestas consequat libero sit amet sodales.
                     Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                     Duis feugiat tincidunt lobortis. Fusce hendrerit lectus viverra quam euismod ullamcorper.
                     Phasellus faucibus quis turpis et iaculis. Sed dignissim erat ut aliquam egestas.
                     Duis feugiat tincidunt lobortis. Fusce hendrerit lectus viverra quam euismod ullamcorper.
                 </p>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                      <label> Quality:</label>
                  </div>
                   <div class="form-group">
                       <label> Comment *</label>
                       <textarea></textarea>
                   </div>
               </div>
           </div>
            <div class="modal-footer">
                <button class="btnClose">Fermer</button>
                <button>Submit</button>
            </div>
        </div>
        <span class="wr-loading">
                <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>



{% endblock %}

{%  block javascripts %}
    <script>
        $(document).ready(function(){

            $(".btnrevue").click(function(){
                $(".wr-loading").show();
                $(".modal-revue").show();
                $(".modal-content").slideUp( 300 ).delay( 1000 ).fadeIn(350);
                $(".wr-loading").delay( 1000 ).fadeOut(350);
                $('html, body').css('overflow-y', 'hidden');


            });

            $(".btnClose").click(function(){
                $(".modal-revue").hide();
                $(".modal-content").hide();
                $('html, body').css('overflow-y', 'auto');

            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $(".btn-view").click(function(){
                $(".wr-loading").show();
                $(".modal-product").show();
                $(".modal-content").slideUp( 300 ).delay( 1000 ).fadeIn(350);
                $(".wr-loading").delay( 1000 ).fadeOut(350);
                $('html, body').css('overflow-y', 'hidden');


            });

            $(".modal-close").click(function(){
                $(".modal-product").hide();
                $(".modal-content").hide();
                $('html, body').css('overflow-y', 'auto');



            });
        });
    </script>

{% endblock %}