{% extends '@Evenement/Evenement_Views/base_evenement.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<h1>mes réservation</h1>
{% endblock %}
{% block javascripts %}
{% endblock %}