

{% block stylesheets %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <h1>{{ title }}</h1>
            <p>This is my awesome first PDF generated using Snappy in my Symfony 3 project.</p>
            <p>UTF-8 Test :</p>
            <p>Image : </p><br>
            <img height="200" src="http://ourcodeworld.com/resources/img/ocw-empty.png"/>


        </div>

    </div>
{% endblock %}
{% block javascripts %}


{% endblock %}